{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- navbar -->
<nav class="fixed top-0 left-0 w-full bg-white/70 backdrop-blur-sm shadow-lg z-50 border-b border-gray-200">
    <div class="max-w-6xl mx-auto px-8 py-4 flex items-center justify-between">

        <!-- tym -->
        <div class="flex items-center space-x-4">
            <div class="flex items-center space-x-4">
                {% if vybrany_tym.logo %}
                <img src="{{ vybrany_tym.logo.url }}" alt="{{ vybrany_tym.nazev }}"
                     class="h-14 w-14 object-contain drop-shadow-sm">
                {% else %}
                <img src="{% static 'stranka/logo.png' %}" alt="Logo"
                     class="h-14 w-14 object-contain drop-shadow-sm">
                {% endif %}

                {% if vybrany_tym.logo %}
                <div class="leading-tight">
                    <p class="text-2xl font-extrabold text-gray-800 tracking-wide">
                        {{ vybrany_tym.nazev }}
                    </p>
                    <p class="text-sm text-gray-500 font-semibold -mt-1">
                        {{ vybrany_tym.kategorie }}
                    </p>
                </div>
                {% endif %}

            </div>
        </div>

        <!-- stranky -->
        <div class="flex items-center space-x-6">

            <a href="{% url 'trener_zapas' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Zápasy
                </span>
            </a>

            <a href="{% url 'trener_trenink' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Tréninky
                </span>
            </a>

            <a href="{% url 'trener_hraci' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Moji hráči
                </span>
            </a>

            <a href="{% url 'trener_settings' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Nastavení účtu
                </span>
            </a>

            <!-- profil -->
            <div class="flex items-center space-x-3 border-l pl-5 border-gray-300">
                {% if trener.photo %}
                <img src="{{ trener.photo.url }}" alt="Profilová fotka"
                     class="w-10 h-10 rounded-full object-cover border border-gray-300 shadow-sm">
                {% else %}
                <img src="/media/stranka/default_profile_picture.webp" alt="Výchozí profilová fotka"
                     class="w-10 h-10 rounded-full object-cover border border-gray-300 shadow-sm">
                {% endif %}

                <p class="text-gray-500 font-semibold">
                    {% if trener.first_name or trener.last_name %}
                    {{ trener.first_name }} {{ trener.last_name }}
                    {% else %}
                    (bez jména)
                    {% endif %}
                </p>
            </div>

            <!-- logout -->
            <a href="{% url 'logout' %}"
               class="px-6 py-2 rounded-2xl shadow-md text-white font-semibold
                      bg-gradient-to-r from-gray-500 to-gray-700
                      hover:from-red-500 hover:to-red-700 transform transition hover:scale-105">
                Odhlásit se
            </a>
        </div>
    </div>
</nav>


<div class="flex flex-col items-center justify-center min-h-screen space-y-8 py-10 pt-32">
     <div class="w-full max-w-5xl p-6 bg-white rounded-3xl shadow-2xl border border-gray-200">

        <!-- Nadpis -->
        <div class="text-center mb-8">
            <h1 class="text-4xl font-extrabold text-gray-800 drop-shadow-lg">
                {{ vybrany_tym.nazev }}
            </h1>
            <p class="text-3xl font-bold text-gray-500">{{ vybrany_tym.kategorie }}</p>
            <img src="{{ vybrany_tym.logo.url }}" alt="{{ vybrany_tym.nazev }}"
                 class="mx-auto h-24 w-24 object-contain mt-4">
            <p class="text-gray-600 mt-2">
                {{ vybrany_tym.stadion }}, {{ vybrany_tym.mesto }}
            </p>
        </div>

         <h2 class="text-2xl font-bold text-gray-800 text-center p-6 drop-shadow-lg">
            Statistiky týmu
        </h2>

        <!-- Celkové statistiky týmu -->
        <div class="grid grid-cols-1 sm:grid-cols-4 gap-6 mb-10">
            <div class="p-6 bg-gray-100 shadow-inner rounded-2xl text-center">
                <h4 class="text-xl font-bold text-gray-700">Celkem gólů</h4>
                <p class="text-4xl font-extrabold text-blue-600 mt-2">
                    {{ tym_goly }}
                </p>
            </div>

            <div class="p-6 bg-gray-100 shadow-inner rounded-2xl text-center">
                <h4 class="text-xl font-bold text-gray-700">Výhry</h4>
                <p class="text-4xl font-extrabold text-green-600 mt-2">
                    {{ vyhry }}
                </p>
            </div>

            <div class="p-6 bg-gray-100 shadow-inner rounded-2xl text-center">
                <h4 class="text-xl font-bold text-gray-700">Remízy</h4>
                <p class="text-4xl font-extrabold text-yellow-600 mt-2">
                    {{ remizy }}
                </p>
            </div>

            <div class="p-6 bg-gray-100 shadow-inner rounded-2xl text-center">
                <h4 class="text-xl font-bold text-gray-700">Prohry</h4>
                <p class="text-4xl font-extrabold text-red-500 mt-2">
                    {{ prohry }}
                </p>
            </div>
        </div>

        <!-- Seznam hráčů -->
        <h3 class="text-2xl font-bold text-gray-800 text-center mb-6 drop-shadow-lg">
            Hráči
        </h3>

        {% if hraci_data %}
        <div class="overflow-x-auto rounded-3xl bg-gray-100 shadow-lg p-4">
            <table class="w-full text-left border-separate border-spacing-y-4">
                <thead>
                    <tr class="text-gray-700 rounded-xl">
                        <th class="py-3 px-4 text-lg rounded-l-xl">Hráč</th>
                        <th class="py-3 px-4 text-lg">Tréninky</th>
                        <th class="py-3 px-4 text-lg">Zápasy</th>
                        <th class="py-3 px-4 text-lg">Góly</th>
                        <th class="py-3 px-4 text-lg">ŽK</th>
                        <th class="py-3 px-4 text-lg rounded-r-xl">ČK</th>
                    </tr>
                </thead>

                <tbody>
                    {% for hr in hraci_data %}
                    <tr class="bg-gray-50 shadow-md rounded-xl hover:shadow-lg transition border border-gray-200">
                        <td class="py-4 px-4 text-base font-semibold rounded-l-xl">
                            {% if hr.hrac.first_name and hr.hrac.last_name %}
                                {{ hr.hrac.first_name }} {{ hr.hrac.last_name }}
                            {% elif hr.hrac.first_name %}
                                {{ hr.hrac.first_name }}
                            {% elif hr.hrac.last_name %}
                                {{ hr.hrac.last_name }}
                            {% else %}
                                (bez jména)
                            {% endif %}
                        </td>

                        <td class="py-4 px-4 text-base">
                            {% if hr.treninky_percent >= 50 %}
                            <span class="text-green-600 font-bold">
                                {{ hr.treninky_percent }}%
                            </span>
                            {% else %}
                            <span class="text-red-600 font-bold">
                                {{ hr.treninky_percent }}%
                            </span>
                            {% endif %}
                        </td>

                        <td class="py-4 px-4 text-base">
                            {% if hr.zapasy_percent >= 50 %}
                            <span class="text-green-600 font-bold">
                                {{ hr.zapasy_percent }}%
                            </span>
                            {% else %}
                            <span class="text-red-600 font-bold">
                                {{ hr.zapasy_percent }}%
                            </span>
                            {% endif %}
                        </td>

                        <td class="py-4 px-4 text-base font-bold text-gray-700">
                            {{ hr.goly }}
                        </td>

                        <td class="py-4 px-4 text-base font-bold text-yellow-500">
                            {{ hr.zlute }}
                        </td>

                        <td class="py-4 px-4 text-base font-bold text-red-500 rounded-r-xl">
                            {{ hr.cervene }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        {% else %}
        <p class="text-center text-gray-500 p-6">
            V tomto týmu zatím nejsou žádní hráči.
        </p>
        {% endif %}

        <!-- Zpět -->
        <div class="mt-8">
            <button onclick="window.history.back()"
                class="block w-full text-center text-gray-600 hover:text-gray-900 font-semibold
                       transition transform hover:scale-105 py-3 px-4">
                Zpět
            </button>
        </div>

    </div>
</div>

{% endblock %}