{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- navbar -->
{% include "page/trener_navbar.html" %}


<!-- obsah -->
<div class="flex flex-col items-center justify-start min-h-screen pt-32 pb-12 space-y-12 px-4 lg:px-0">

    <div class="text-center">
        <h1 class="text-5xl font-extrabold text-gray-800 drop-shadow-lg mb-2">
            Moji hráči
        </h1>
        <p class="text-gray-600 font-medium">Podívej se na statistiky svých hráčů.</p>
    </div>

    <div class="text-center">
        <a href="{% url 'trener_dashboard' %}"
           class="inline-flex items-center justify-center bg-white text-gray-700 hover:bg-green-400 hover:text-green-900
                  font-semibold py-3 px-6 rounded-full transition duration-300 shadow-md transform hover:scale-105">
            <i class="fas fa-arrow-left mr-2"></i> Zpět na dashboard
        </a>
    </div>

    <div class="w-full max-w-6xl mx-auto mt-6">

        <div class="hidden lg:grid grid-cols-7 gap-4 font-bold text-sm text-gray-500 uppercase pb-3 mb-2 px-6">
            <div class="w-4 text-left">#</div> <div class="col-span-2">Jméno a Pozice</div>
            <div>Dres</div>
            <div class="text-center">Celkové G/A</div>
            <div class="text-center">Tréninky (Docházka)</div>
            <div class="text-center">Zápasy (Docházka)</div>
        </div>

        <div class="flex flex-col space-y-3">
            {% for hrac in hraci %}
            <div onclick="window.location='{% url 'trener_hrac_statistiky' hrac.id %}'"
                 class="cursor-pointer bg-white rounded-3xl shadow-xl p-4 lg:p-6
                        hover:shadow-2xl transform hover:-translate-y-0.5 hover:bg-gray-200 transition-all duration-500 w-full">

                <div class="hidden lg:grid grid-cols-7 items-center gap-4">

                    <div class="w-4 text-lg font-bold text-gray-800 text-left"> {{ forloop.counter }}.
                    </div>

                    <div class="col-span-2 flex items-center space-x-2">
                        <div class="w-12 h-12 rounded-xl overflow-hidden shadow-sm bg-gray-100 flex-shrink-0">
                            {% if hrac.photo %}
                                <img src="{{ hrac.photo.url }}" class="object-cover w-full h-full">
                            {% else %}
                                <img src="{% static 'stranka/user.png' %}" class="object-cover w-full h-full">
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <h3 class="text-lg font-bold text-gray-800 truncate">
                                {% if hrac.first_name and hrac.last_name %}
                                    {{ hrac.first_name }} {{ hrac.last_name }}
                                {% else %}
                                    {{ hrac.first_name|default:hrac.last_name|default:"(bez jména)" }}
                                {% endif %}
                            </h3>
                            <p class="text-sm text-gray-500">
                                {{ hrac.pozice|default:"Neznámá pozice" }}
                            </p>
                        </div>
                    </div>

                    <div class="text-base font-semibold text-gray-700">
                        #{{ hrac.cislo_dresu|default:"?" }}
                    </div>

                    <div class="text-base text-gray-700 text-center font-semibold">
                        {{ hrac.goly_a_asistence }}
                    </div>

                    <div class="text-center">
                        {% if hrac.dochazka_treninky >= 50 %}
                            <span class="text-xl font-bold text-green-600">{{ hrac.dochazka_treninky }}%</span>
                        {% else %}
                            <span class="text-xl font-bold text-red-600">{{ hrac.dochazka_treninky }}%</span>
                        {% endif %}
                    </div>

                    <div class="text-center">
                        {% if hrac.dochazka_zapasy >= 50 %}
                            <span class="text-xl font-bold text-green-600">{{ hrac.dochazka_zapasy }}%</span>
                        {% else %}
                            <span class="text-xl font-bold text-red-600">{{ hrac.dochazka_zapasy }}%</span>
                        {% endif %}
                    </div>
                </div>


                <div class="lg:hidden">
                    <div class="flex items-center space-x-2">

                        <div class="text-xl font-bold text-gray-700 flex-shrink-0">
                            {{ forloop.counter }}.
                        </div>

                        <div class="w-14 h-14 rounded-xl overflow-hidden shadow-sm bg-gray-100 flex-shrink-0">
                            {% if hrac.photo %}
                                <img src="{{ hrac.photo.url }}" class="object-cover w-full h-full">
                            {% else %}
                                <img src="{% static 'stranka/user.png' %}" class="object-cover w-full h-full">
                            {% endif %}
                        </div>

                        <div class="flex flex-col">
                            <h3 class="text-xl font-bold text-gray-800">
                                {% if hrac.first_name and hrac.last_name %}
                                    {{ hrac.first_name }} {{ hrac.last_name }}
                                {% else %}
                                    {{ hrac.first_name|default:hrac.last_name|default:"(bez jména)" }}
                                {% endif %}
                                <span class="text-gray-400 text-base">({{ hrac.vek }})</span>
                            </h3>

                            <p class="text-gray-600 text-base">
                                #{{ hrac.cislo_dresu|default:"?" }} {{ hrac.pozice|default:"Neznámá pozice" }}
                            </p>
                        </div>
                    </div>

                    <div class="mt-4 grid grid-cols-2 gap-4">
                        <div class="bg-gray-50 rounded-xl p-3 border text-center">
                            <p class="text-xs text-gray-500 font-semibold mb-1">Tréninky</p>
                            {% if hrac.dochazka_treninky >= 50 %}
                                <p class="text-xl font-bold text-green-500">{{ hrac.dochazka_treninky }}%</p>
                            {% else %}
                                <p class="text-xl font-bold text-red-500">{{ hrac.dochazka_treninky }}%</p>
                            {% endif %}
                        </div>

                        <div class="bg-gray-50 rounded-xl p-3 border text-center">
                            <p class="text-xs text-gray-500 font-semibold mb-1">Zápasy</p>
                            {% if hrac.dochazka_zapasy >= 50 %}
                                <p class="text-xl font-bold text-green-500">{{ hrac.dochazka_zapasy }}%</p>
                            {% else %}
                                <p class="text-xl font-bold text-red-500">{{ hrac.dochazka_zapasy }}%</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="text-center text-gray-400 py-10">
                Zatím nemáte přiřazené žádné hráče.
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
