<footer class="bg-white shadow-inner border-t-4 border-gray-200 py-8 mt-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 flex flex-col md:flex-row items-center justify-between gap-6">

        <p class="text-gray-600 text-sm text-center md:text-left">
            © 2025
            <span class="font-extrabold bg-clip-text text-transparent
                         bg-gradient-to-r from-green-500 to-teal-600 drop-shadow-sm">
                Squadra
            </span>.
            Vytvořeno jako maturitní projekt. Slouží pouze pro studijní účely.
        </p>

        <div class="flex space-x-8 text-sm font-medium">

            <a href="{% url 'kontakt' %}"
               class="flex items-center gap-2 text-gray-700 border-b-2 border-transparent hover:text-green-600 transition duration-300 drop-shadow-sm hover:border-green-600">
                <i class="fa-solid fa-envelope text-lg"></i>
                <span>Kontakt</span>
            </a>

            <a href="https://www.instagram.com/kubasolt/?igsh=MXZlemU2bThmcmhvbw%3D%3D&utm_source=qr#"
               class="flex items-center gap-2 text-gray-700 border-b-2 border-transparent hover:text-green-600 transition duration-300 drop-shadow-sm hover:border-green-600"
               target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram text-lg"></i>
                <span>Instagram</span>
            </a>

        </div>

    </div>
</footer>


