{% extends 'base.html' %}
{% block content %}
<div class="flex items-center justify-center min-h-screen p-10">
    <div class="bg-white p-8 rounded-3xl shadow-2xl w-full max-w-lg">
        <h2 class="text-4xl font-extrabold mb-6 text-center drop-shadow-lg">Přidat trénink</h2>

        <form method="post" class="space-y-5">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for field in form %}
            <div>
                <label class="block text-gray-700 font-medium mb-2">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ field.errors.0 }}</p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit"
                    class="w-full text-white font-semibold text-lg px-8 py-3 rounded-2xl shadow-lg
                           bg-gradient-to-r from-blue-500 to-purple-800 transform transition duration-300
                           hover:from-blue-600 hover:to-purple-900 hover:scale-105">
                Uložit trénink
            </button>
        </form>

        <a href="{% url 'trener_trenink' %}"
           class="block mt-6 text-center text-gray-600 hover:text-gray-900 font-semibold transition transform hover:scale-105">
            Zpět
        </a>

    </div>
</div>
{% endblock %}
