{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="max-w-xl mx-auto bg-white p-8 rounded-3xl shadow-xl mt-20">
    <h2 class="text-4xl font-extrabold text-center p-4 drop-shadow-lg">
        Upravit profil:
        <div class="p-3">
            <span class="bg-gradient-to-r from-blue-500 to-purple-800 bg-clip-text text-transparent">
              {% if hrac.first_name and hrac.last_name %}
                {{ hrac.first_name }} {{ hrac.last_name }}
              {% elif hrac.first_name %}
                {{ hrac.first_name }}
              {% elif hrac.last_name %}
                {{ hrac.last_name }}
              {% else %}
                (bez jména)
              {% endif %}
            </span>
        </div>

    </h2>

    <form method="post" enctype="multipart/form-data" class="space-y-5">

        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-2">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <p class="text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}

        <div class="flex flex-col mt-6 space-y-4">
            <button type="submit"
                    class="w-full text-white font-semibold text-lg px-10 py-4 rounded-2xl shadow-lg
                   bg-gradient-to-r from-blue-500 to-purple-800 transform transition duration-300
                   hover:from-blue-600 hover:to-purple-900 hover:scale-105">
                Uložit změny
            </button>
            <a href="{% url 'hrac_settings' %}"
               class="block mt-4 text-center text-gray-600 hover:text-gray-900 font-semibold transition transform hover:scale-105">
                Zpět
            </a>
        </div>

    </form>
</div>
{% endblock %}
