{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- navbar -->
<nav class="fixed top-0 left-0 w-full bg-white shadow-lg z-50 border-b border-gray-200">
    <div class="max-w-6xl mx-auto px-8 py-4 flex items-center justify-between">

        <!-- tym -->
        <div class="flex items-center space-x-4">
            <div class="flex items-center space-x-4">
                {% if tym.logo %}
                <img src="{{ tym.logo.url }}" alt="{{ tym.nazev }}"
                     class="h-14 w-14 object-contain drop-shadow-sm">
                {% else %}
                <img src="{% static 'stranka/logo.png' %}" alt="Logo"
                     class="h-14 w-14 object-contain drop-shadow-sm">
                {% endif %}

                {% if tym.logo %}
                <div class="leading-tight">
                    <p class="text-2xl font-extrabold text-gray-800 tracking-wide">
                        {{ tym.nazev }}
                    </p>
                    <p class="text-sm text-gray-500 font-semibold -mt-1">
                        {{ tym.kategorie }}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- stranky -->
        <div class="flex items-center space-x-6">

            <a href="{% url 'hrac_zapas' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Zápasy
                </span>
            </a>

            <a href="{% url 'hrac_trenink' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Tréninky
                </span>
            </a>

            <a href="{% url 'hrac_settings' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Nastavení účtu
                </span>
            </a>

            <a href="{% url 'hrac_dashboard' %}"
               class="nav-link text-gray-700 font-semibold transition transform hover:scale-110 relative group">
                <span class="relative z-10 group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-blue-500 group-hover:to-purple-700">
                    Dashboard
                </span>
            </a>

            <!-- profil -->
            <div class="flex items-center space-x-3 border-l pl-5 border-gray-300">
                {% if hrac.photo %}
                <img src="{{ hrac.photo.url }}" alt="Profilová fotka"
                     class="w-10 h-10 rounded-full object-cover border border-gray-300 shadow-sm">
                {% else %}
                <img src="/media/stranka/default_profile_picture.webp" alt="Výchozí profilová fotka"
                     class="w-10 h-10 rounded-full object-cover border border-gray-300 shadow-sm">
                {% endif %}

                <p class="text-gray-500 font-semibold">
                    {% if hrac.first_name and hrac.last_name %}
                        {{ hrac.first_name }} {{ hrac.last_name }}
                    {% elif hrac.first_name %}
                        {{ hrac.first_name }}
                    {% elif hrac.last_name %}
                        {{ hrac.last_name }}
                    {% else %}
                        (bez jména)
                    {% endif %}
                </p>
            </div>

            <!-- logout -->
            <a href="{% url 'logout' %}"
               class="px-6 py-2 rounded-2xl shadow-md text-white font-semibold
                      bg-gradient-to-r from-gray-500 to-gray-700
                      hover:from-red-500 hover:to-red-700 transform transition hover:scale-105">
                Odhlásit se
            </a>
        </div>
    </div>
</nav>


<!-- zapasy -->
<div class="flex flex-col items-center justify-center min-h-screen space-y-8 py-10 pt-40">
    <h1 class="text-4xl font-extrabold text-gray-800 text-center drop-shadow-lg">Odehrané zápasy</h1>
    <div class="w-full max-w-4xl bg-white rounded-3xl shadow-2xl p-6 space-y-8">

        {% for data in zapasy_data %}
        <div class="
            {% if data.zapas.stav == 'Dohráno' %}
                {% if data.vysledek_tymu > data.vysledek_soupere %}
                    bg-gradient-to-r from-green-50 to-emerald-200
                {% elif data.vysledek_tymu < data.vysledek_soupere %}
                    bg-gradient-to-r from-red-50 to-rose-200 border
                {% else %}
                    bg-gradient-to-r from-amber-50 to-amber-200
                {% endif %}
            {% else %}
                bg-gray-100 border border-gray-200
            {% endif %}
                rounded-3xl p-4 shadow-xl transition-all hover:scale-[1.01] relative">

            {% if data.zapas.stav == 'Dohráno' %}
                {% if data.vysledek_tymu > data.vysledek_soupere %}
                <p class="absolute -top-3 left-1/2 -translate-x-1/2 px-4 py-1
                          bg-gradient-to-r from-green-500 to-emerald-700 text-white text-sm font-semibold
                          rounded-xl shadow-lg">
                    Výhra!
                </p>
                {% elif data.vysledek_tymu < data.vysledek_soupere %}
                <p class="absolute -top-3 left-1/2 -translate-x-1/2 px-4 py-1
                          bg-gradient-to-r from-red-500 to-rose-700 text-white text-sm font-semibold
                          rounded-xl shadow-lg">
                    Prohra!
                </p>
                {% else %}
                <p class="absolute -top-3 left-1/2 -translate-x-1/2 px-4 py-1
                          bg-gradient-to-r from-amber-400 to-amber-600 text-white text-sm font-semibold
                          rounded-xl shadow-lg">
                    Remíza!
                </p>
                {% endif %}
            {% else %}
                <p class="absolute -top-3 left-1/2 -translate-x-1/2 px-4 py-1
                          bg-gradient-to-r from-gray-500 to-gray-700 text-white text-sm font-semibold
                          rounded-xl shadow-lg">
                    Trenér ještě nezapsal výsledky
                </p>
            {% endif %}

            <!-- tymy -->
            <div class="grid grid-cols-3 text-center items-center gap-x-2 mt-4">
                {% if data.zapas.domaci_hoste == "Domácí" %}
                <p class="text-2xl font-bold text-gray-800 drop-shadow-lg">{{ tym.nazev }}</p>
                <p class="text-lg font-semibold">vs</p>
                <p class="text-2xl font-bold text-gray-800 drop-shadow-lg">{{ data.zapas.souper }}</p>
                {% else %}
                <p class="text-2xl font-bold text-gray-800 drop-shadow-lg">{{ data.zapas.souper }}</p>
                <p class="text-lg font-semibold">vs</p>
                <p class="text-2xl font-bold text-gray-800 drop-shadow-lg">{{ tym.nazev }}</p>
                {% endif %}
            </div>

           <!-- vysledek -->
            <div class="grid grid-cols-3 text-center items-center gap-x-2 mt-2 text-3xl font-bold text-gray-700 drop-shadow-lg">
                {% if data.zapas.stav == 'Dohráno' %}
                    {% if data.zapas.domaci_hoste == "Domácí" %}
                    <p>{{ data.vysledek_tymu }}</p>
                    <p>:</p>
                    <p>{{ data.vysledek_soupere }}</p>
                    {% else %}
                    <p>{{ data.vysledek_soupere }}</p>
                    <p>:</p>
                    <p>{{ data.vysledek_tymu }}</p>
                    {% endif %}
                {% endif %}
            </div>

            <!-- goly -->
            {% if data.goly %}
            <div class="flex justify-between pt-8 text font-semibold text-gray-800 space-y-1 drop-shadow-lg">

                <!-- domaci -->
                <div class="w-1/2 text-left">

                    {% for gol in data.goly %}
                        {% if data.zapas.domaci_hoste == "Domácí" %}
                            <p class="pl-1">
                                ⚽︎
                                <span class="font-extrabold"> {{ gol.minuta }}’</span>
                                {% if gol.hrac.last_name %}
                                    {{ gol.hrac.last_name }}
                                {% elif not gol.hrac.last_name %}
                                    {{ gol.hrac.first_name }}
                                {% else %}
                                    (bez jména)
                                {% endif %}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- away -->
                <div class="w-1/2 text-right">
                    {% for gol in data.goly %}
                        {% if data.zapas.domaci_hoste != "Domácí" %}
                            <p>
                                {% if gol.hrac.last_name %}
                                    {{ gol.hrac.last_name }}
                                {% elif not gol.hrac.last_name %}
                                    {{ gol.hrac.first_name }}
                                {% else %}
                                    (bez jména)
                                {% endif %}
                                <span class="font-extrabold">{{ gol.minuta }}’ </span>
                                ⚽︎
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
            {% endif %}

            <!-- karty -->
            {% if data.karty %}
            <div class="flex justify-between pt-2 text font-semibold text-gray-800 space-y-1 drop-shadow-lg">

                <!-- domaci -->
                <div class="w-1/2 text-left">

                    {% if data.zapas.domaci_hoste == "Domácí" %}
                        {% if data.karty %}
                            <h4 class="mb-1 text-sm text-black">Karty:</h4>
                        {% endif %}

                        {% for karta in data.karty %}
                            <p>
                                {% if karta.typ == "zluta" %}
                                    🟨
                                {% elif karta.typ == "cervena" %}
                                    🟥
                                {% endif %}

                                <span class="font-extrabold">{{ karta.minuta }}’</span>

                                {% if karta.hrac.last_name %}
                                    {{ karta.hrac.last_name }}
                                {% elif karta.hrac.first_name %}
                                    {{ karta.hrac.first_name }}
                                {% else %}
                                    (bez jména)
                                {% endif %}
                            </p>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- away -->
                <div class="w-1/2 text-right">

                    {% if data.zapas.domaci_hoste != "Domácí" %}
                        {% if data.karty %}
                            <h4 class="mb-1 text-sm text-black">Karty:</h4>
                        {% endif %}

                        {% for karta in data.karty %}
                            <p>
                                {% if karta.hrac.last_name %}
                                    {{ karta.hrac.last_name }}
                                {% elif karta.hrac.first_name %}
                                    {{ karta.hrac.first_name }}
                                {% else %}
                                    (bez jména)
                                {% endif %}

                                <span class="font-extrabold">{{ karta.minuta }}’</span>

                                {% if karta.typ == "zluta" %}
                                    🟨
                                {% elif karta.typ == "cervena" %}
                                    🟥
                                {% endif %}

                            </p>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
            {% endif %}

            <p class="text-gray-800 mb-2 mt-10 font-semibold text-center">
                {{ data.zapas.misto|default:"-" }}
            </p>

            <div class="text-center space-y-1 text-gray-600 font-medium text-sm">
                <p>{{ data.zapas.datum|date:"l, d.m.Y" }}</p>
                <p>{{ data.zapas.cas|time:"H:i" }}</p>
            </div>

        </div>

        {% if not forloop.last %}
        <hr class="border-t-2 border-gray-300 my-6 rounded-full">
        {% endif %}

        {% empty %}
        <p class="text-center text-gray-500">Zatím nebyly odehrané žádné zápasy.</p>
        {% endfor %}

        <div class="space-y-4">
            <a href="{% url 'hrac_zapas' %}"
               class="block mt-4 text-center text-gray-600 hover:text-gray-900 font-semibold transition transform hover:scale-105">
                Zpět na nadcházející zápasy
            </a>
        </div>
    </div>
</div>

{% endblock %}
