<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Squadra{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="bg-gray-100">

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-200 py-6 text-center text-sm text-gray-500">
        © 2025 Squadra. Vytvořeno jako maturitní projekt.
    </footer>

<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>