<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Squadra{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="min-h-screen bg-gradient-to-br from-gray-200 to-green-100">

    <!-- obsah -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer -->
    {% include 'page/footer.html' %}

    <!-- css -->
    {% block css %}
    {% endblock css %}

    <!-- js -->
    {% block js %}
    {% endblock js %}

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>