<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Squadra{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="bg-gradient-to-br from-blue-100 via-gray to-purple-100 flex flex-col min-h-screen">

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'page/footer.html' %}

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>